.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  background-image: url('/assets/lighthouse.jpg');
  background-size: cover;
  background-position: 0px 325px;
  background-attachment: fixed;
}

.content {
  color: black;
  font-weight: bold;
}