.title {
  text-align: left;
  padding-top: 20px;
  background-color: #EFEFEF;
  color: black;
  padding-bottom: 15px;
  background-image: url('/assets/lighthouse.jpg');
  background-size: cover;
  background-position: center;

  div {
    font-size: 40px;
    margin-left: 15px;

  }

  p {
    font-size: 14px;
    margin-left: 15px;

  } 


}