.title {
  text-align: left;
  padding-top: 20px;
  background-color: #EFEFEF;
  color: #A9A9A9;
  padding-bottom: 5px;

  div {
    font-size: 40px;
    margin-left: 15px;

  }

  p {
    font-size: 14px;
    margin-left: 15px;

  } 


}