.self-image
  = image_tag 'self-portrait.jpg'
.about-me
  %p.description
    Hey there, welcome to my website. My name is Spencer, and this is my little corner of the internet. I hope that by spending a couple minutes here, you are able to learn more about me, both professionally and personally. 
  %p
    <strong>By Day:</strong>
  %p.description
    By day, I'm a professional software engineer. Over the last few years, I've gotten to work with a wide variety of technologies within the healthcare sector. From working on large teams within a Fortune 500 company, to being on a smaller team with a SaaS start-up, I've had the chance to work with technologies such as Ruby on Rails, JavaScript (jQuery, Angular), relational databases (PostgreSQL, MySQL) and Java, along with HTML5 and CSS. I also have experience with unit testing frameworks like jUnit and Rspec, and some feature testing with Capybara for my Rails work. All of my professional development has been exclusively on Agile teams, and I've enjoyed the Kanban approach the most. I'm extremely comfortable with Git workflow, as well as working within a Bash shell. I enjoy my job the most when I'm learning new things, and pushing myself out of my comfort zone to complete tasks that are difficult. 
  %p
    <strong>By Night:</strong>
  %p.description
    By night, I'm an avid gamer and music fanatic. When people ask me what my passions are, the two things that immediately come to mind are gaming and music. I tend to gravitate towards these two things because of how immersive both mediums can be. Throughout my life, I've always been a dreamer, and a good album or video game can quickly wisp me away to another world. In fact, the namesake of this website is from one of my favorite video games: BioShock. In BioShock, there is a sea filled with infinite lighthouses, each serving as a doorway into another universe. Something about seeing this infinite sea of lighthouses resonated with me, and it's something I've always found myself coming back to in the years that followed. Thank you for taking the time to take a peak into my lighthouse.