%div.game-header
  Games
%table.table.table-hover.games-list 
  %thead
    %tr
      %th Title
      %th Summary
  %tbody
    - @games.limit(10).order('created_at desc').each do |game|
      %tr
        %td= game.title
        %td= game.summary 

