%div.game-header
  Games
%table.table.table-hover.games-list 
  %thead
    %tr
      %th Title
      %th Score
      %th Review
  %tbody
    - @games.limit(10).order('created_at desc').each do |game|
      %tr
        %td= game.name
        %td= game.score
        %td= link_to "See Full Review", game_path(game.id) 

