.games-list {
  width: 65%;
  margin: 0 auto;
 }

.headers {
	font-size: 20px;
	font-weight: bold;
}

.game-form {
	text-align: center;
}

.game-header {
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 25px
}

.title {
  text-align: center;
}