.title {
	text-align: center;
  font-size: 40px;
  padding-top: 20px;

  p {
  	font-size: 14px;
  } 
}

.games-list {
  width: 90%;
  margin: 0 auto;
 }

.headers {
	font-size: 20px;
	font-weight: bold;
}

.game-form {
	text-align: center;
}

.game-header {
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 25px
}