.sidebar_back
%div.col-sm-3.col-md2.sidebar
  %ul.nav.nav-sidebar.sidebar-items
    %li.sidebar-home= link_to "Home", root_path
    %li
      %a{href: "https://www.linkedin.com/in/spencerhanson12/", target: "_blank"} LinkedIn
    %li
      %a{href: "https://drive.google.com/open?id=0B1uXr1Hn_7CjRzV3YVFnQTdxVlk", target: "_blank"} Resume
    %li.sidebar-games= link_to "Game Reviews", games_path
